:root {
  --dark-color: #111d3b;
  --light-blue-color: #b3c4d6;
  --dark-blue-color: #344a5a;
  --dark-blue-color2: #576069;
  --light-green-color: #8BCAB5;
  --green-color: #2fbfa4;
  --dark-green-color: #0b351f;
  --red-color: #ab5656;
  --dark-red-color: #993d41;
  --purple-color: #6A5B86;
  --light-gray-color: #D2D3CD;
  --light-yellow: #EAD196;
  --yellow-color: #FFC233;
}

body {
    height: 100vh;
    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-text);
    background-color: var(--dark-blue-color2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#game-container {
    min-width: 600px;
    width: 60%;
    height: 90vh;
    position: relative;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-x;
    padding: 30px;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    animation: mist 60s infinite linear;
    transition: background-image .5s ease-in-out;
}

.user-ui {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.status-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.status {
  font-size: 1.3rem;
  padding: 0 1em;
  background-color: #fff;
  border: 5px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status.coins {
  width: 200px;
}

.status.level {
  width: 300px;
  background-color: var(--dark-blue-color);
  justify-content: space-around;
}

.status.level p {
  color: var(--yellow-color);
  font-size: 1.5rem;
  animation: pixelate 1000ms infinite;
}

.status.level .index {
  color: var(--light-blue-color);
  font-size: 1.5rem;
}

.fa-hat-wizard, .fa-hat-wizard::before, .fa-hat-wizard::after {
  color: var(--dark-blue-color);

}
.fa-diamond, .fa-diamond::before, .fa-diamond::after {
  color: var(--purple-color);
}

.fa-trophy, .fa-trophy::before, .fa-trophy::after {
  color: var(--light-yellow);
  animation: pixelate 1000ms infinite;
}
.game-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5em;
  animation: slideIn .5s ease-in-out;
  overflow: hidden;
}

.start {
  justify-content: space-around;
}

.game-title {
  width: 60%;
  max-width: 300px;
  padding: 1.5em 1em;
  font-size: 1.5em; 
  background-color: var(--purple-color);
  text-align: center;
  letter-spacing: .5em;
  border: 5px solid #ffffff;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  color: var(--light-yellow);
  animation: pulse 2s infinite;
}

.game-title h1 {
  margin: 0;
}

.title-container {
  width: 90%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

}

.title {
  min-width: 200px;
  padding: 1em;
  background-color: var(--light-blue-color);
  text-align: center;
  letter-spacing: .2em;
  border: 5px solid #ffffff;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  color: var(--dark-blue-color);
}

.title h1 {
  margin: 0;
}

.question-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7em;
}

.question {
  width: 80%;
  padding: 1em .5em;
  letter-spacing: 0;
}

.category {
  min-width: 100px;
  padding: 1em .5em;
  background-color: var(--dark-color);
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
}

.category h2 {
  margin: 0;
  font-weight: 500;
}

.game-state {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.timer, .score, .currentQ {
  min-width: 100px;
  width: 200px;
  padding: .2em .2em;
  font-size: 2.5em;
  font-weight: 700;
  background-color: var(--purple-color);
}

.timer p, .score p, .currentQ p {
  letter-spacing: 0;
  margin: 0;
  color: #fff;
}

.score{
  background-color: var(--yellow-color);
}

.score p  {
  color: var(--purple-color);
}

.currentQ {
  width: 100px;
  padding: .7em 0;
  background-color: var(--dark-blue-color);
}

.currentQ p {
  color: var(--yellow-color);
}

.currentQ, .score, .timer {
  font-family: "VT323", monospace;
  font-weight: 700;
  font-style: normal;
}

.controls {
  width: 100%;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7em;
}

.controls.scroll {
  height: 55%;
  justify-content: flex-start;
  overflow-y: scroll;
  scrollbar-color: rgba(255,255,255, 0.5) rgba(0,0,0, 0.3);
  scrollbar-width: thin;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 20px;
}

.results-box {
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  width: 90%;
  height: 80%;
  box-sizing: border-box;
  background-color: var(--dark-blue-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .5em;
}

.game-stats {
  width: 85%;
  height: 70%;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--purple-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.stats-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-box h2 {
  color: var(--green-color);
  margin: 0;
  font-size: 2em;
}

.stats-box p{
  margin: 0;
  font-size: 3em;
  font-weight: 700;
  color: var(--yellow-color);
}

.stats-box.rank {
  box-sizing: border-box;
  padding: 0 1em;
  flex-direction: column;
  border: 5px solid var(--light-gray-color);
  background-color: var(--dark-blue-color);
}

.stats-box.rank h2 {
  color: var(--light-gray-color);
}

.stats-box.rank p {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--yellow-color);
  animation: pixelate 1000ms infinite;
}

.stats-box.rank-up {
  width: 90%;
  background-color: var(--red-color);
  animation: pulse 1s infinite;
}

.stats-box.rank-up h2 {
  color: var(--yellow-color);
}

.stats-box.rank-up p {
  color: #EAD196;
}

.stats-box.history {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--light-gray-color);
  background-color: var(--dark-blue-color);
}

.stats-box.history h2 {
  color: var(--light-gray-color);
  font-size: 1.3em;
  font-weight: 300;
}

.prev-quiz {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.prev-quiz .win  {
  color: var(--green-color);
}

.prev-quiz .lose {
  color: var(--red-color);
}

.btn {
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--dark-text);
  min-width: 300px;
  padding: 10px;
  border: 5px solid #000;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn p {
  margin: 0;
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  color: var(--dark-text);
}

.btn:hover {
  transform: translate(0px,-5px);
  background-color: #b3c4d6;
  transition:all .2s ease-in;
}

.radio {
  height: 40px;
  width: 40px;
  border: 0px solid #000;
  background-color: var(--dark-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in;
}

.radio.checked {
  background-color: var(--light-green-color);
  transition: all .2s ease-in;
}

.radio i, .radio i::before, .radio i::after {
  color: var(--dark-color);
  font-size: .8em;
}

.radio-btn {
  width: 50%;
  justify-content: space-between;
  text-align: left;
}

.select-btn {
  min-width: 50px;
  width: 100px;
  padding: 1em;
  font-size: 1em;
  border: 3px solid #000;
  background-color: var(--dark-blue-color);
  color: var(--yellow-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  background-color: var(--light-green-color);
}

.continue-btn {
  background-color: var(--purple-color);
  color: #fff;
}

.play-btn {
  background-color: var(--light-green-color);
}

.answer-btn {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  min-width: 50px;
  min-height: 150px;
  letter-spacing: 0;
}

.return-btn {
  background-color: var(--dark-blue-color);
  color: var(--light-blue-color);
  position: absolute;
  top: 90%;
}

.start-btn:hover, .play-btn:hover, .answer-btn:hover, .return-btn:hover, .select-btn:hover {
  background-color: var(--purple-color);
  color: var(--yellow-color);
}

.select-btn:hover {
  transform: translateY(0px);
}

.correct, .correct:hover {
  background-color: var(--light-green-color);
  color: var(--dark-blue-color);
}

.incorrect, .incorrect:hover {
  background-color: var(--red-color);
  color: #fff;
}

@keyframes pixelate {
  0% {
    filter: none;
  }
  50% {
    filter: contrast(150%) brightness(150%) saturate(200%) blur(.5px);
  }
  100% {
    filter: none;
  }
}


@keyframes mist {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
  
@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  
  25% {
    transform: translateY(0px);
    transform: translateX(15px)
    
  }
  
  50% {
    transform: translateY(10px);
  }
  
  75% {
    transform: translateY(0px);
    transform: translateX(-15px)
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media only screen and (max-width: 1920px) {
  body {
    height: 100dvh;
  }

  #game-container {
    min-width: 400px;
    width: 80vw;
    height: 90%;
    padding: 20px 20px;
    gap: 2em;
    box-sizing: border-box;
  }

  .user-ui {
    gap: 1em;
  }

  .status {
    font-size: 1.2rem;
    max-width: 100px;
    height: 40px;
    border: 2px solid '#fff';
  }
  
  .status.level {
    padding: 0 1em;
    max-width: 250px;
    width: 250px;
  }
  
  .status.level p {
    font-size: 1.2rem;
  }

  .game-title {
    margin-top: 1em;
    font-size: 1em;
  }

  .title {
    min-width: 150px;
    font-size: .8em;
  }
  
  .game-menu.game {
    gap: 1em;
  }

  .category  {
    margin-top: 1em;
  }

  .category h2 {
    font-size: 1rem;
  }

  .question h1{
    font-size: 1.2rem
  };

  .game-state {
    gap: 1em;
  }

  .timer, .score, .currentQ {
    min-width: 70px;
    width: 150px;
    font-size: 2em;
    border: 3px solid var(--yellow-color);
  }

  .currentQ {
    width: 70px;
    padding: .6em 0;
  }

  .btn {
    min-width: 250px;
    font-size: 1.5em;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(70px, 1fr));
  }

  .results-box {
    width: 95%;
    height: 85%;
    border: 3px solid #fff;
  }

  .stats-box h2 {
    font-size: 1.8em;
  }

  .stats-box p {
    font-size: 2.5em;
    text-align: center;
  }

  .stats-box.rank {
    border-width: 4px;
  }

  .select-btn {
    min-width: 50px;
    width: 100px;
    padding: .8em;
    font-size: 1em;
  }

  .answer-btn {
    min-width: 60px;
    min-height: 100px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  body {
    height: 100dvh;
  }

  #game-container {
    min-width: 200px;
    width: 95vw;
    height: 97%;
    padding: 10px 10px;
    gap: 1.5em;
    box-sizing: border-box;
  }

  .user-ui {
    height: 100px;
    gap: .5em;
    flex-direction: column;
  }

  .status {
    font-size: 1rem;
    height: 30px;
    border: 1px solid '#fff';
  }
  
  .status.coins {
    height: 25px;
    font-size: .8rem;
  }

  .status.level {
    max-width: 80%;
    padding: .5em 1em;
    text-align: center;
  }

  .status.level p {
    margin: 0;
    font-size: 1rem;
  }

  .game-title {
    padding : 1.5em;
    font-size: .6em;
  }

  .game-title h1 {
    margin: 0;
  }

  .title-container .game-title {
    width: 100%;
  }

  .title-container {
    gap: .5em;
  }

  .title {
    min-width: 80px;
    max-width: 300px;
    width: 50%;
  }

  .title h1 {
    font-size: .8rem;
  }

  .game-menu {
    gap: 1em;
  }

  .game-menu.game {
    gap: .5em;
  }

  .question-box {
    gap: .5em;
  }

  .question {
    width: 90%;
  }

  .question h1 {
    font-size: .7rem;
  }

  .category {
    margin-top: 1em;
  }

  .category h2 {
    font-size: .5rem;
  }

  .game-state {
    gap: .7em;
  }

  .timer, .score, .currentQ {
    min-width: 50px;
    width: 100px;
    font-size: 1.5em;
    border: 2px solid var(--yellow-color);
  }

  .currentQ {
    width: 50px;
    padding: .5em 0;
  }

  .grid {
    gap: 10px;
  }

  .controls.scroll {
    height: 62%;
  }

  .btn {
    min-width: 200px;
    padding: .3em 1em;
    font-size: 1.2em;
  }
  
  .btn p {
    margin: 0;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  .results-box {
    width: 100%;
    height: 85%;
    border: 3px solid #fff;
  }

  .game-stats {
    gap: .2em;
  }

  .stats-box h2 {
    font-size: 1.5em;
  }


  .stats-box p {
    font-size: 2em;
    text-align: center;
  }

  .stats-box.rank {
    border-width: 4px;
  }
  
  .stats-box.rank p {
    font-size: 1.5rem;
  }


  .stats-box.history {
    width: 80%;
  }

  .stats-box.history h2 {
    font-size: 1em;
  }

  .radio-btn {
    width: 90%;
    padding: .2em 1em;
    font-size: 1em;
  }

  .select-btn {
    min-width: 50px;
    width: 30%;
    height: 50px;
    font-size: .6em;
  }

  .answer-btn {
    min-width: 50px;
    min-height: 80px;
    font-size: .6em;
  }
}


